body {
	font-family: 'Raleway', sans-serif;
	background:#F0F0F0;
}

h1 {
	font-size:50px;
	text-align: center;
	font-weight: 300;
}

p {
	text-align: center;
	font-weight: 300;
	font-size: 16px;
}

.container {
	max-width:600px;
	margin:0 auto;
}

.game {
	position: relative;
	background: #0087B4;
	height: 400px;
	width: 600px;
	margin: 20px auto;
	overflow: hidden;
}

.snack {
	position: absolute;
	height: 10px;
	width: 10px;
	background: #F0F0F0;
	border-radius:50%;
}
.snake_element {
	position: absolute;
	height: 10px;
	width: 10px;
	background: #F0F0F0;
	border-radius:2px;
}

.start_button {
	position: absolute;
	top: 50%;
	left: 50%;
	height:50px;
	width: 200px;
	border:3px solid #FFFFFF;
	color:#FFFFFF;
	background:none;
	font-size:20px;
	text-transform: uppercase;

	margin-left:-100px;
	margin-top:-25px;
}

.start_button:hover {
	cursor: pointer;
}